body{
    font-family: 'M PLUS Rounded 1c',Serif;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    background-color: transparent !important;
}



.card {
    border: none !important;
}

.icon{
    height: 1em;
    width: 1em;
}